// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }


// Remove space between name and description on welcome page (and all other pages)

h1 {
  display: inline-block;
  margin-bottom: .25rem;

  // Fix avatar border overlapping name on small screens: 
  position: relative;
  z-index: 2;
}

.subline {
  margin-top: 0;
}







// Prevent FOUC

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.4; }
  60% { opacity: 0.6; }
  80% { opacity: 0.8; }
  100% { opacity: 1; }
}

.no-fouc {
  -webkit-animation-duration: 10s;
  -webkit-animation-name: fadeIn;
  animation-duration: 10s;
  animation-iteration-count: 10;
  animation-name: fadeIn;
  opacity: 0;
  // This line forces the browser to set the opacity to 1 after executing/finishing the animation
  opacity: 1;
}